[flake8]
max-line-length = 79
# E203: whitespace before ':' (conflicts with black)
extend-ignore = E203
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    */migrations/*,
    *.egg-info